<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Your Secure Locker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/icon/login/about-us.png" />
  <ion-toolbar>
    <ion-title size="large">Who we are</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-icon name="bulb" slot="start" color="primary"></ion-icon>
    <label>Founded in 2018, Technical Library is an Open Source Application for individuals with backgrounds in Daily
      activities related application, we are working to provide the solution to make your daily activities easy and user
      friendly. we provide the normal and Pro Used application which is developed by Mr Rajat Gupta, <a
        href="mailto:plockerapps@gmail.com?Subject=Contact Me Version at {{bridge.getCurrentVersion()}}"
        target="_top">Click Me</a></label>
  </ion-item>

  <ion-toolbar>
    <ion-title size="large">Password Manager App</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-icon name="bulb" slot="start" color="primary"></ion-icon>
    <label>Password Locker, Which means you can store your login id, password details of other accounts very safely and
      100% secured</label>
  </ion-item>
  <ion-item>  
    <ion-icon name="bulb" slot="start" color="primary"></ion-icon>
    <label>Password Locker has 100% secure password and there is no storage rather than your phone without your
      permission</label>

  </ion-item>
  <ion-item>
    <ion-icon name="bulb" slot="start" color="primary"></ion-icon>
    <label>Password Locker no need of internet connection to open or operational until you sync it offline</label>

  </ion-item>
  <ion-item>
    <ion-icon name="bulb" slot="start" color="primary"></ion-icon>
    <label>Password Locker has unlimited data storage and unlimited listing</label>

  </ion-item>
  <ion-item>
    <ion-icon name="bulb" slot="start" color="primary"></ion-icon>
    <label>Password Locker also have Two Layer security to open the detail of saved data (Password Locker Password,
      Finger Print Scanning) </label>

  </ion-item>
  <ion-item>
    <ion-icon name="bulb" slot="start" color="primary"></ion-icon>
    <label>Password Locker also have searching and filtering the huge listing </label>

  </ion-item>
  <ion-item>
    <ion-icon name="bulb" slot="start" color="primary"></ion-icon>
    <label>Your Feedback is very helpful for us, click on plockerapps@gmail.com</label>

  </ion-item>
  <ion-item>
    <ion-icon name="bulb" slot="start" color="primary"></ion-icon>
    <label>App Version : {{bridge.getCurrentVersion()}} </label>

  </ion-item>

</ion-content>