.cstmIconSearch{
    font-size: 7vw;
    padding-top: 6px;
    padding-right: 6px;
}
.cstmIcontitle{
    font-size: 7vw;
    padding-top: 12px;
    padding-right: 6px;
}

.avataricon{
    font-size: 7vw;
}

.bg{
    color: #dc1150;
}