<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-row>
      <ion-col col-6 class="cstmIcontitle" style="color: white;">
        <ion-title>
          View Password
        </ion-title>
      </ion-col>
      <ion-col col-6 text-right>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="catArray">



  <ion-card *ngIf="catArray.user_name" (click)="copymy(catArray.user_name)">
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        Username / Email *
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        <h4 class="fontweigth">{{catArray.user_name}}</h4>
      </ion-col>
      <ion-col col-1 class="cstmIcontitle" color="primary" text-right (click)="copymy(catArray.user_name)">
        <ion-icon name="md-albums" class="avataricon"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card *ngIf="catArray.password" (click)="copymy(catArray.password)">
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        Password *
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        <h4 class="fontweigth">{{catArray.password}}</h4>
      </ion-col>
      <ion-col col-1 class="cstmIcontitle" color="primary" text-right (click)="copymy(catArray.password)">
        <ion-icon name="md-albums" class="avataricon"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
 
  <ion-card *ngIf="catArray.cname">
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        Category *
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        <h4 class="fontweigth">{{catArray.cname}}</h4>
      </ion-col>
    </ion-row>
  </ion-card> 

  <ion-card *ngIf="catArray.pname">
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        Account Name (Gmail, Fb, Amazon) *
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        <h4 class="fontweigth">{{catArray.pname}}</h4>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card *ngIf="catArray.url">
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
       URL (optional)
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        <h4 class="fontweigth">{{catArray.url}}</h4>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card *ngIf="catArray.expired">
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        Expiry (optional)
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        <h4 class="fontweigth">{{catArray.expired}}</h4>
      </ion-col>
    </ion-row>
  </ion-card>


  <ion-card *ngIf="catArray.hint">
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        Hint (optional)
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        <h4 class="fontweigth">{{catArray.hint}}</h4>
      </ion-col>
    </ion-row>
  </ion-card>

 
  <ion-card *ngIf="catArray.desc">
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        Description (optional)
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="cstmIcontitle" color="primary" text-left>
        <h4 class="fontweigth">{{catArray.desc}}</h4>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed" (click)="shareMyApp()">
    <ion-fab-button>Share</ion-fab-button>
  </ion-fab>

</ion-content>