<ion-app>
    <ion-menu type="overlay">
      <ion-header >
        <ion-toolbar color="primary">
          <ion-title text-center>Password Locker</ion-title>
        </ion-toolbar>
      </ion-header>      
      <ion-content>
        <ion-list>   
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item *ngIf="p.url != '/share-app'" [routerDirection]="'root'" [routerLink]="[p.url]" (click)="Callagain(p.url)">
              <img class="icon-set item-inner" src="{{p.image}}">{{p.title}}
            </ion-item>
            <ion-item *ngIf="p.url == '/share-app'" [routerDirection]="'root'" (click)="sharingApp()">
              <img class="icon-set item-inner" src="{{p.image}}">{{p.title}}
            </ion-item>
          </ion-menu-toggle>
          <!-- <ion-row text-center class="footerTxt" style="margin-top: 10%;">
            <ion-col class="cstmTxt1" (click) ="logOut()">
              <ion-button expand="block">Logout <ion-icon name="log-out"></ion-icon></ion-button>
            </ion-col>
          </ion-row> -->
        </ion-list>
      </ion-content> 
      <ion-footer (click) ="logOut()">
        <ion-toolbar>
          <ion-button expand="block">Logout <ion-icon name="log-out"></ion-icon></ion-button>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>

</ion-app>
