<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-row>
      <ion-col col-6 class="cstmIcontitle">
        <ion-title>
          Secure Password List
        </ion-title>
      </ion-col>
      <ion-col col-6 text-right (click)="addpassword()">
        <ion-icon class="cstmIconSearch" ios="ios-add" md="md-add"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list *ngIf="lengthofCat">
    <ion-item *ngFor="let x of catArray; let  i = index">
      <ion-avatar slot="start">
        <ion-icon name="md-albums" class="avataricon" color="danger"></ion-icon>
      </ion-avatar>
      <ion-label (click)="viewpassword(x.id)">
        <p class="sizefont" *ngIf="x.pname">Name:     {{x.pname}}</p>   
        <p  style="font-weight: 600;color:black" *ngIf="x.user_name">Username: {{x.user_name}}</p>  
        <p  *ngIf="x.cname">Category: {{x.cname}}</p>   
        <p color="danger" *ngIf="x.hint">Hint: {{x.hint}}</p> 
        <p color="danger" *ngIf="x.last_view" text-right style="font-style: italic;">Last Seen: {{ moment(x.last_view, 'DD-MM-YYYY hh:mm A').format('hh:mm A')}}</p> 
        <!-- <p color="danger" *ngIf="x.updated_date" text-right style="font-style: italic;">Last Updated: {{ moment(x.updated_date, 'DD-MM-YYYY hh:mm A').format('hh:mm A')}}</p>  -->
      </ion-label>
      <ion-icon style="font-size: 2.5em" ios="ios-more" md="md-more" class="moreIcon"
        (click)="popOver($event, x.id, x.name)"></ion-icon>
    </ion-item>  
  </ion-list>
  <ion-list inset *ngIf="!lengthofCat">
    <ion-row>
      <ion-col col-6 offset-3 text-center>
        <a>No Account Name Found</a>
        
      </ion-col>
    </ion-row>
    <ion-row (click)="addpassword()">
      <ion-col col-6 offset-3 text-center>
        <ion-icon style="font-size: xx-large;" ios="ios-add-circle" md="md-add-circle"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end"  slot="fixed" (click)="addpassword()">
    <ion-fab-button> <ion-icon ios="ios-add" md="md-add"></ion-icon></ion-fab-button>
  </ion-fab>

</ion-content>