<!-- <ion-col col-8 class="lgnText" padding><img src="assets/imgs/login/getapermit.png" /></ion-col> -->

<ion-content>

  <ion-card class="login" style="margin:24% 10%">
    <ion-row text-center>
      <ion-col class="textpoint">ACCESS YOUR PASSWORD</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6></ion-col>
      <ion-col col-12 padding><img *ngIf="usePassword" class="setAutoHeight" src="../../assets/icon/logo.png" />
      </ion-col>
      <ion-col col-6 class="infoIcon" padding>
      </ion-col>
    </ion-row>

    <ion-list inset>
      <div *ngIf="bridge.getUserRegistered() && !bridge.getisScannerActive()">
        <ion-item class="border">
          <ion-input type="password" id="password" [(ngModel)]="login.password" placeholder="Master Password"
            class=" passIcon"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col class="reset">Reset Password!</ion-col>
        </ion-row>
        <ion-button expand="block" (click)="doLogin()">Let's Go</ion-button>
      </div>
    </ion-list>
    <div text-center *ngIf="bridge.getUserRegistered() && bridge.getisScannerActive()" (click)="fingerPrintScanner()">
      <ion-img style="height: 44vh !important;  width: auto !important;  align-items: center;" src="{{defaultimg}}">
      </ion-img>
    </div>
  </ion-card>

  <span *ngIf="bridge.getUserRegistered()">
    <ion-row text-center class="footerTxt1">
      <ion-col text-right class="cstmTxt1 border-style" (click)="loginIssue()">Login Issue</ion-col>
      <ion-col text-left class="cstmTxt1" *ngIf="bridge.getisScannerActive()" (click)="pinCode()">Use Password</ion-col>
      <ion-col text-left class="cstmTxt1" *ngIf="!bridge.getisScannerActive()" (click)="biometric()">Use Biometric
      </ion-col>
    </ion-row>
    <ion-row text-center class="footerTxt">
      <!-- <ion-col text-right class="cstmTxt1"></ion-col> -->
      <ion-col class="cstmTxt2" *ngIf="bridge.getLastLogin()"
        (click)="presentAlert('Last Login: '+bridge.getLastLogin())">
        {{bridge.getLastLogin()}} <ion-icon name="information-circle"></ion-icon>
      </ion-col>
    </ion-row>
  </span>
  <span *ngIf="!bridge.getUserRegistered()">
    <ion-row text-center class="footerTxt">
      <ion-col text-right class="cstmTxt1 border-style" (click)="loginIssue()">Terms & Condition</ion-col>
      <ion-col text-left class="cstmTxt1" (click)="pinCode()">Privacy Policy</ion-col>
    </ion-row>
  </span>
</ion-content>