<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-row>
      <ion-col col-6 class="cstmIcontitle">
        <ion-title>
          Import - Export
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <h4>Import</h4>
    </ion-list-header>

    <ion-item>
      <ion-col text-left>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-col>
      <ion-col text-right>
        <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
      </ion-col>
    </ion-item>
    <ion-item>
      <ion-col text-left>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-col>
      <ion-col text-right>
        <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
      </ion-col>
    </ion-item>
    <ion-item>
      <ion-col text-left>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-col>
      <ion-col text-right>
        <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
      </ion-col>
    </ion-item>
    <ion-item>
      <ion-col text-left>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-col>
      <ion-col text-right>
        <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
      </ion-col>
    </ion-item>
    <ion-item>
      <ion-col text-left>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-col>
      <ion-col text-right>
        <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
      </ion-col>
    </ion-item>
    <ion-item>
      <ion-col text-left>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-col>
      <ion-col text-right>
        <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
      </ion-col>
    </ion-item>
    <ion-item>
      <ion-col text-left>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-col>
      <ion-col text-right>
        <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
      </ion-col>
    </ion-item>
  </ion-list>

</ion-content>